
a{
		color:black!important;
		font-weight:Bold!important;
		outline:none;
		}
		.tab a.active {
			outline:none;
		}
		header{
		background-color:black;
		}
		.indicator
		{
		background-color:black!important;
		}
		#titlename{
		height:auto;
		width:100%;
		background:url(../img/London-Banner.jpg);
			background-size:cover;
		}
		#tabs-swipe-demo{
		background-color: rgba(255, 255, 255, 0.85);
		color:black;
		}
		h1{
		margin:0;}
		@media screen and (max-height: 900px) and (max-width: 500px){
		#titlename{
		margin-top:17%;
		height:auto;
		}
		 a{
		 font-size:10px!important;
		}
		
		}
body,html{
	position:relative;
	height:100%;
	overflow:hidden;
	}

    body {	
        background: #fff;
		color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 50%;
    }
	.swiper-container-h {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
       
    }
		@media screen and (max-width: 480px) {
			h1{
				font-size:20px !important;
				margin-bottom:4% !important;
			}
			.event{
				margin-top:18% !important;
				margin-bottom:2% !important;
			}
		}
	
	
#text{
		color:white;
		text-align:center;
		opacity:1;
		font-size:100%;
	}

	
.text--transparent {
    fill: transparent;
}
#eventtitle1{
	text-align:center;
	color:white;
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:7%; 
}	

.swiper-slide{
padding:4px;
}  
#detailswiper{
color:white;text-align:center;
}
@media screen and (max-height: 900px) and (max-width: 500px){

#detailswiper{
font-size:80%;
}
#eventtitle1{
width:100%;
margin-top:18%;
font-size:30px;
margin-left:0%;
margin-right:0%;
}
#Detailsheader li{
			padding:10px;
}
#text{
height:40px;
}
}
