body,html{
	position:relative;
	height:100%;}

    body {	
        background: #fff;
        
        
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 50%;
    }
	.swiper-container-h {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
       
    }
		@media screen and (max-width: 480px) {
			h1{
				font-size:20px !important;
				margin-bottom:4% !important;
			}
			.event{
				margin-top:18% !important;
				margin-bottom:2% !important;
			}
		}#Detailsheader{
			margin:0px;
			
			background-color:fade(#fff,90%);
		}
		#Detailsheader li{
			display:inline-block !important;
			transition:border-color 2s;
			padding:15px;
			margin:0px;
			height:100%;
			
			
			
		}
		#demo1:hover {
			cursor:pointer;
			//border-bottom:5px solid white;
			background: #44A08D; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #44A08D , #093637); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #44A08D , #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		#demo2:hover {
			cursor:pointer;
			//border-bottom:5px solid white;
			background: #C04848; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C04848 , #480048); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C04848 , #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
		}		
		#demo3:hover {
			cursor:pointer;
			//border-bottom:5px solid white;
			background: #5A3F37; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}	
		#demo4:hover {
			cursor:pointer;
			//border-bottom:5px solid white;
			background: #F3904F; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        	}
		
		
		#text{
			color:white;
			text-align:center;
			opacity:1;
			font-size:100%;
			
			
		}
	
.text--transparent {
    fill: transparent;
}
#eventtitle1{
	text-align:center;
	color:white;
	margin-left:35%;margin-right:35%;margin-top:3%; 
}	
.swiper-slide{
padding:4px;
}  
#detailswiper{
color:white;text-align:center;
}
@media screen and (max-height: 900px) and (max-width: 500px){
#detailswiper{
font-size:80%;
}
#eventtitle1{
margin-top:25%;
}
#Detailsheader li{
			padding:10px;
	
}
#text{
height:40px;
}
}