.shade{
	opacity:0.8;
}
.layer{
	position:fixed;
}
#p1{
	position:relative;
	top:-210px;
	right:90px;		
	animation-delay:1s;
}
#p2{
	position:relative;
}
#p3{
	position:relative;
	top:-270px;
	left:47px;
	animation-delay:1s;
}
#mp1{
	position:relative;
	top:-49px;
	right:23px;		
	animation-delay:1s;
}
#mp2{
	position:relative;
}
#mp3{
	position:relative;
	
	top:-65px;
	left:12px;
	animation-delay:1s;
}
#mname{
	position:relative;
	color:#FFF;
	top:-50px;
	left:60px;
	font-size:55px;
	animation-delay:2s;
}
#name{
	position:relative;
	color:#FFF;
	top:-230px;
	left:180px;
	font-size:55px;
	animation-delay:2s;
}
html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
.events{
	position: absolute;
	top:70%;
	left: 65%;
	padding: 5%;
	animation-delay: 5s;
}
.workshops{
	position: absolute;
	left:0%;
	top:70%;
	padding: 5%;
	animation-delay: 4s;
}
@media only screen and (max-width: 500px)
{
	.events{
		position: absolute;
		top:80%;
		left: 0;
		padding: 5%;
		animation-delay: 5s;
	}
	.workshops{
		position: absolute;
		top:70%;
		padding: 5%;
		animation-delay: 4s;
	}
}