.shade{
	opacity:0.8;
}
.layer{
	position:fixed;
}
#p1{
	position:relative;
	top:-210px;
	right:90px;		
	animation-delay:1s;
}
#p2{
	position:relative;
}
#p3{
	position:relative;
	top:-270px;
	left:47px;
	animation-delay:1s;
}
#mp1{
	position:relative;
	top:-49px;
	right:23px;		
	animation-delay:1s;
}
#mp2{
	position:relative;
}
#mp3{
	position:relative;
	
	top:-65px;
	left:12px;
	animation-delay:1s;
}
#mname{
	position:relative;
	color:#FFF;
	top:-50px;
	left:60px;
	font-size:55px;
	animation-delay:2s;
}
#name{
	position:relative;
	color:#FFF;
	top:-230px;
	left:180px;
	font-size:55px;
	animation-delay:2s;
}
#concert{
	animation-delay: 4s;
}

#concert1{
	animation-delay: 4s;
}
html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}