
/* 01. GENERAL SETTINGS ============================================ */

* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; transition: all 0.1s ease-in;}
img {border: 0;}

body {
	background: #fff;
	color: #fff;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 300;

}

/* Buttons */
.btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 40px;
	color: rgba(255,255,255, 0.95);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 20px;
	outline: 0;
	transition: all 0.1s ease-in;
}

.btn-transparent {background: rgba(0,0,0, 0.2);}
.btn-transparent:hover {background: rgba(0,0,0, 0.4);}

/* Separators */
.separator {
	margin: -15px auto;
	background: #2196F3;
	width: 60px;
	height: 5px;
}

/* 02. FONT FACE ============================================ */

@font-face {
    font-family: 'norwester';
	src: url('../fonts/norwester/norwester.eot');
    src: url('../fonts/norwester/norwester.eot?iefix') format('embedded-opentype'),
		 url('../fonts/norwester/norwester.ttf');
    font-weight: normal;
}

/* 03. TEAM SETTINGS ============================================ */

#TEAM {
	padding: 60px 0;
	background: #111;
	text-align: center;	
}

#TEAM p {
	padding: 20px 0 60px;
	color: rgba(255,255,255, 0.85);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#TEAM h3 {
	padding: 0 0 15px;
	margin-top: -1%;
	font-family: 'norwester';
	font-size: 36px;
	text-transform: uppercase;
}

#TEAM h4  {
	margin-top: -40px;
	font-size: 32px;
	font-weight: 700;
	color: #039be5;
}

#TEAM h4 span {
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

#TEAM img {
	width: 100%;
	max-width: 240px;
	border-radius: 50%; 
	border: 15px solid transparent; 
	box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
	transition: all 0.1s ease-in;
	  -webkit-filter: grayscale(1);
  	filter: grayscale(1);
	
}
	
#TEAM img:hover {
	border: 10px solid #3980C9;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;	
 	   -webkit-filter: grayscale(0);
  	filter: grayscale(0);
	
}

#TEAM span {
	padding: 8px 20px;
	position: relative;
	top: -64px;
	left: -41px;
	display: inline-block;
	background: #4593e3;
	color: #fff;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}

/* Member Image Hover Effect */
.hover_img {
  display: none
}

.member-profile:hover .unhover_img{
  display: none;
}

.member-profile:hover .hover_img {
  display: block;
}

/* Social Networks Meta */
#TEAM li {display: inline-block; padding: 0 6px; font-size: 18px;}
#TEAM li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#TEAM li a:hover {color: rgba(0,0,0, 0.7);}

/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {


	#TEAM img {max-width: 300px;}

	
}


@media only screen and (max-width: 500px) 
{
	.container{
		width: 60% !important;
	}

	.m3{
		margin-top: 18%;
	}
}


